body{
  background: url(../images/nebula.jpg);
}

h1{
  font-family: arial;
  font-weight: bold;
  color: white;
  text-align: center;
  size: 100px;
}

p{
  font-family: arial;
  color: white;
}


div.chem{
  color: white;
  background-color: rgba(0,0,0,0.75);
  border-style: solid;
  border-width: 7px;
  border-color: rgba(0,0,0,0.75);
  padding: 7px;
  float:left;
  width: 90%;
  margin: 7px;
}

div.comp_sci{
  color: white;
  background-color: rgba(0,0,0,0.75);
  border-style: solid;
  border-width: 7px;
  border-color: rgba(0,0,0,0.75);
  padding: 7px;
  float:left;
  width: 90%;
  margin: 7px;
}

div.phys{
  color: white;
  background-color: rgba(0,0,0,0.75);
  border-style: solid;
  border-width: 7px;
  border-color: rgba(0,0,0,0.75);
  padding: 7px;
  float:left;
  width: 90%;
  margin: 7px;
}

div.biology{
  color: white;
  background-color: rgba(0,0,0,0.75);
  border-style: solid;
  border-width: 7px;
  border-color: rgba(0,0,0,0.75);
  padding: 7px;
  float:left;
  width: 90%;
  margin: 7px;
}